@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color: #fa0;
}

body::-webkit-scrollbar{
    display: none;
}

.hero-bg-image{
    background-image:url('/mechov-dort.webp') ;
}

/* you need to wrap the component */
.image-wrapper {
    box-sizing: content-box;
  }
    /* the magic happens here */
.image-wrapper > .qq {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
  }